body{
	grid-template-rows: 100vh 1200px 200px;
}
/* Заголовок */
#turh{
	margin-top: 5%;
	text-align: center;
	font-family: 'Ogilvie Cyr', arial;
	font-size: 60px;
	color: #703D40;
}
.tellcont{
	width:70%;
	height: 70%;
	margin: auto;
	margin-top: 20px;
	background-position: center;
	background-size: cover;
	background-repeat: repeat;
	opacity: .7;
	border: 3px solid rgba(39,80,89, 0.7);
	border-radius: 33px 100px 24px 84px;
	box-shadow: 8px 8px 29px -8px #000000;
	padding: 25px;
	padding-top: 50px;
}
.tellcont p{
	width: 80%;
	margin: auto;
	font-family: 'Beast Impacted Regular', arial;
	font-size: 20px;
	text-shadow: 2px 2px 3px rgba(255,245,250,0.8);

}
.tellcont span{
	font-family: 'YouMurderer BB', arial;
	font-size: 30px;
	color: red;
	text-shadow: 2px 2px 3px rgba(125,0,0,0.8);
}
.tellcont h1{
	text-align: center;
	color: red;
	font-family: 'Ogilvie Cyr', arial;
	text-shadow: 2px 2px 3px rgba(125,0,0,0.8);
}
.tellcont ul{
	width: 60%;
	font-family: 'Beast Impacted Regular', arial !important;
	text-shadow: 2px 2px 3px rgba(255,245,250,0.8);
	margin-left: 30%;
}
#lastp{

	color: red;
}
#lastp i{
	transition: .5s;
}
#lastp:hover i{
	transition: .7s;
	transform: rotate(90deg);
}