/* Статистика */
.col-fourth{
	width: 23%;
}
.col-fourth{
	position: relative;
	display: inline-block;
	float: left;
	margin-right: 2%;
	margin-bottom: 20px;
	text-align: center;
	opacity: .7;
}
.end{
	margin-right: 0 !important;
}
.wrapper{
	width: 980px;
	margin: 30px auto;
	position: relative;
	opacity: .9;
}
.counter{
	background-image:url('../images/wrp.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 20px 0;
	border-radius: 5px;
	color: red;
	font-family: 'YouMurderer BB', arial;
	font-size: 30px;
	box-shadow:
			   0 1px 4px rgba(0, 0, 0, .3),
			  -23px 0 20px -23px rgba(0, 0, 0, .8),
			   23px 0 20px -23px rgba(0, 0, 0, .8),
			   0 0 40px rgba(0, 0, 0, .1) inset;

}
.counter:hover .fa-2x{
	color: #CCF3E9;
}
.count-text{
	font-size: 20px;
	font-weight: normal;
	margin-top: 10px;
	margin-bottom: 0;
	color: #ABB0B2;
	text-align: center;
	font-family: 'Beast Impacted Regular', arial;
}
.wrapper .fa-2x{
	margin: 0 auto;
	float: none;
	display: table;
	color: #67848A;
	margin-bottom: 10px;
}
.stat{
	margin-top: 5%;
	text-align: center;
	font-family: 'Ogilvie Cyr', arial;
	font-size: 60px;
	color: #703D40;
}

/* Кнопка */
.z-btn{
	cursor: pointer;
	transition: .5s;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 30px;
	color: #C5D0D7;
	width: 50%;
	height: 100px;
	font-family: 'Ogilvie Cyr', arial;
	background-position: center;
	background-size: cover;
	margin: auto;
	margin-top: 21%;
	opacity: .7;
	border: 3px solid rgba(39,80,89, 0.7);
	border-radius: 33px 100px 24px 84px;
	box-shadow: 8px 8px 29px -8px #000000;
}
.z-btn:hover{
	transition: .7s;
	opacity: .9;
	color: red;
}
.z-btn:active{
	transition: .7s;
 	box-shadow: 20px 0 20px -20px #000 inset,
 				 -20px 0 20px -20px #000 inset;
}

/* Модальное окно */

.modal-window{
	display: none;
	top: 120%;
	z-index: 99;
	left: 37%;
	position: absolute;
	width: 300px;
	height: 400px;
	opacity: 0.8;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 33px 100px 24px 84px;
	box-shadow: 8px 8px 29px -8px #000000;
	font-family: 'Ogilvie Cyr', arial;
	text-align: center;
	padding: 10px;
	color: red;
	border: 3px solid rgba(39,80,89, 0.7);
}
.modal-bg{
	z-index: 98;
	display: none;
	position: absolute;
	width: 100%;
	height: 243.5%;
	opacity: 0.5;
	background-color: black;
	top: 0;
	left: 0;
	right: 0;
}

.modal-window form{
	height: 70%;
	margin-top: 70px;
}
.modal-window form label h1{
	margin-top: 40px;
}

.modal-window form input{
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 33px 100px 24px 84px;
	box-shadow: 8px 8px 29px -8px #000000;
	height: 30px;
	width: 80%;
	background-color: black;
	color: red;
	padding-left: 20px;
	font-family: 'A Lolita Scorned', arial;
	font-size: 20px;
	margin-top: 40px;
}

.modal-window form input:hover{
	border: 3px solid rgba(39,80,89, 0.7);
}

.modal-window form input:focus{
	border: 3px solid red;
}

.modal-window form #submit{
	margin-top: 40px;
	font-family: 'Ogilvie Cyr', arial;
	border: 3px solid rgba(39,80,89, 0.7);
	width: 50%;
	color: rgba(39,80,89, 1);
}
.modal-window form #submit:hover{
	transition: .7s;
	border-color: red;
	color: red;
	width: 51%;
}
#submit:active{
	transition: .7s;
 	box-shadow: 20px 0 20px -20px #000 inset,
 				 -20px 0 20px -20px #000 inset;
}

