*{
	margin: 0;
	padding: 0;
}
/* Разметка */
body{
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 100vh 730px 200px;
	grid-template-areas: "top",
						"middle",
						"bottom"
}
header{
	grid-area: "top";
}
#menu{
	background-color: rgba(39,80,89, 0.7);
	grid-area: "middle";
	border-top: 3px solid rgba(39,80,89, 0.7);
}
footer{
	grid-area: "bottom";
}

/* Шапка */

	/* Навигация */
	nav{
		position: absolute;
		z-index: 9;
		margin-top: 4%;
		width: 100%;
		height: 10%;
	}
	nav ul{
		display: flex;
		justify-content: flex-end;
		list-style: none;
		padding-right: 7%;
	}
	nav ul li{
		margin: 2%;
	}
	nav ul li a:hover{

		transition: top 1s ease-out 0.5s;
		color: #B53C39;
		text-decoration: underline;
	}
	nav ul li a{
		width: 100%;
		height: 100%;
		text-decoration: none;
		font-family: 'Ogilvie Cyr', arial;
		font-size: 40px;
		color: #9A3231;
		text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
	}

	.logo{
		transition: .8s ease-in-out;
		top: -30px;
		left: 30px;
		position: absolute;
		margin-right: 10%;
		width: 200px;
		text-align: center;
		font-family: 'A Lolita Scorned', arial;
		font-size: 30px;
		color: #873D41;
		text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
	}
	.logo span{
		font-family: 'YouMurderer BB', arial;
		font-size: 30px;
	}
	.logo i{
		transition: .8s ease-in-out;
		opacity: 0;
		font-size: 20px;
		color: red;
	}
	.logo:hover i{
		transition: .8s ease-in-out;
		opacity: 1;
	}
	.logo:hover{
		transition: .8s ease-in-out;
		color: red;
	}


	/* Карусель */

	.carousel{
		z-index: 8;
		top: 0;
		width: 100%;
		height: 100%;
		position: absolute;
	}
	.carousel-item{
		width: 100%;
		height: 100%;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		display: none;
		text-align: center;
	}
	.carousel-content{
		font-family: 'Beast Impacted Regular', arial;
		display: flex;
		margin: auto;
		position: absolute;
		top: 60%;
		left: 10%;
		height: 30%;
		width: 80%;
		flex-direction: column;
		justify-content: flex-start;
	}
	.carousel-content h1{
		margin: auto;
		text-align: center;
		font-size: 50px;
		color: rgba(47,65,69, .9);
	    text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
	}
	.active{
		display: block;
	}

	/* Контролеры */

		.prev, .next{
			transition: .5s;
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			height: 100%;
			width: 10%;
			color: rgba(232,230,231, 0.7);
			text-shadow: 0 1px 2px rgba(0,0,0,.6);
			cursor: pointer;
		}
		.next{
			right: 0;
			top: 0;
		}

		.prev:hover, .next:hover{
			transition: .4s;
			color: rgba(232,230,231, 1);
			
		}
		.prev:hover{
			transition: .4s;
			background: linear-gradient(to left,rgba(0,0,0,.0), rgba(0,0,0,.5) )
		}
		.next:hover{
			transition: .4s;
			background: linear-gradient(to right,rgba(0,0,0,.0), rgba(0,0,0,.5) )
		}

/* Футер */

footer{
	border-top: 3px solid rgba(39,80,89, 0.7);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	opacity: 0.8;
	display: flex;
	align-items: center;
}
	/* Контактные данные */
	.cont{
		width: 50%;
		height: 100%;
		margin-left: 5%;
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
	.fa-ul{
		width: 100%;
		height: 60%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
	.fa-ul li{
		font-family: 'YouMurderer BB', arial;
		font-size: 25px;
		color: red;
	}
	.fa-ul li span{
		font-family: 'A Lolita Scorned', arial;
		font-size: 25px;
		color: #A74D4D;
	}

	.fa-ul li i {
		transition: .4s;
		color: #A74D4D;
	}
	.fa-ul li:hover i{
		transition: .6s;
		transform: rotate(30deg);
	}

	/* Социальные кнопки */

	.links{
		width: 50%;
		height: 100%;
		display: flex;
		flex-direction: column;
	}
	.socbtn{
		height: 20%;
		width: 40%;
		margin-left: 60%;
		margin-top: 10%;
		align-self: flex-end;
	}
	.social-likes i{
		margin-left: 5%;
		color: #67848A;
		opacity: .7;
		text-shadow: 0 1px 2px rgba(0,0,0,.6);
		cursor: pointer;
	}

	.social-likes i:hover{
		opacity: 1;

	}

	/* Автор */
	.autor{
		width: 100%;
		height: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.autor a{
		transition: 0.5s;
		text-decoration: none;
		color: #496066;
		font-family: 'A Lolita Scorned', arial;
		font-size: 30px;
	}
	.autor a:hover{
		transition: 0.7s;
		color: #CCF3E9;
		border: 2px solid #CCF3E9;
		border-top: none;
		/* text-decoration: underline; */
	}
	.aMenu{
		/* display: none; */
		position: relative;
		left: 0;
		list-style: none;
	}
	.aMenu ul{
		text-align: center;
		list-style: none;
		display:none;
		position:absolute;
		left:0;
		bottom:100%;
		background-color: #496066;
		border: 2px solid #CCF3E9;
		border-bottom: none;
	}
	.aMenu li:hover ul{
		display: block;
	}
	.aMenu li ul:hover{
		transition: 0.7s;
		color: #CCF3E9;
		border: 2px solid #CCF3E9;
	}

/* Цытата */
	#citata{
	transition: .4s;
	position: ;
	top: 237%;
	left: 20px;
	color: #67848A;
	opacity: .5;
	cursor: pointer;
	}
	#citata:hover{
		transition: .6s;
		color: red;
	}
	#citataBlock{
		position: absolute;
		border-radius: 10px;
		right: 30px;
		background-color: black;
		color: red;
		padding: 15px;
		opacity: .7;
		border: 1px solid rgba(39,80,89, 0.7);
		display: none;
	}
	#citataActive{
		display: block;
	}