body{
	grid-template-rows: 100vh 1920px 200px;
}

/* Заголовок */
#turh{
	margin-top: 5%;
	text-align: center;
	font-family: 'Ogilvie Cyr', arial;
	font-size: 60px;
	color: #703D40;
}
/* Таблицы */
.turt, .turi{
	cursor: pointer;
	transition: .5s;
	font-size: 25px;
	/* background-color: #C5D0D7;
 */	width: 70%;
	height: 120px;
	font-family: 'Beast Impacted Regular', arial;
	background-position: center;
	background-size: cover;
	color: red;
	margin: auto;
	margin-top: 3%;
	opacity: .7;
	border: 3px solid rgba(39,80,89, 0.7);
	border-radius: 33px 100px 24px 84px;
	box-shadow: 8px 8px 29px -8px #000000;
	/* text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
 */
}
.turt tr th i{
	transition: .3s;
	height: 30%;
	color: #67848A;
}
.turt tr th:hover i{
	transition: .5s;
	color: #C5D0D7;
}
.turt tr th:hover{
	transition: .5s;
	color: #703D40;
}
th, td{
	text-align: center;
	padding: 10px 25px;
}
.turi{
	display: 	flex;
	flex-direction: column;
	justify-content: flex-start;
	font-size: 20px;
	width: 60%;	
	color: #67848A;
	border-collapse: separate;
	border-spacing: 0 5px;
	height: 80%;
	overflow: hidden;
}
.turi tr{
	flex-grow: 1;
	flex-basis: 90px;
	transition: .5s;
	height: 6%;		
	background-position: center;
	background-size: cover;
}
.turi tr:hover{
	transition: .7s;
	color: red;
	opacity: 1;
}

.turi tr:hover .razdelit{
	transition: .9s;
	transform: rotate(0deg);
}

.turi tr td{
	padding: 20px 0;
}
.razdelit{
	transition: .7s;
	border: none;
	height: 100%;
	padding: 0;
	transform: rotate(-25deg);
	border-left: 4px solid rgba(39,80,89, 0.7);
	opacity: 1;
	box-shadow: 8px 8px 29px -8px #000000;
}